<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pagetitle }}</title>
  <link href="{{ root }}assets/bootstrap-5.2.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ root }}assets/styles.css" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ root }}index.html">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{{ root }}albums/index.html">Albums</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ root }}tags/index.html">Tags</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ root }}people/index.html">People</a></li>
      </ul>
    </div>
  </div>
</nav>  
